.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.badge {
}
.link_button {
  color:#169BD5;
}
.top_menu_dropdown {
  text-align:left;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
  text-align:left;
}
.table_header {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.table_right {
  text-align:right;
}
.menu_item {
}
.flow_shape {
}
.icon {
}
.menu_label_1 {
  font-size:16px;
  text-align:left;
}
.menu_label_2 {
  font-size:14px;
  text-align:left;
}
.second_menu {
}
.widget_bg {
}
.widget_h1 {
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
}
.page_placeholder {
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#D7D7D7;
  text-align:center;
}
.spravochnik_list {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.menu_label_11 {
}
