@font-face{
  font-family: 'mplus-2m-bold';
  src: url('https://mplus-webfonts.sourceforge.jp/mplus-2m-bold.eot');
  src: url('https://mplus-webfonts.sourceforge.jp/mplus-2m-bold.eot') format('embedded-opentype'),
       url('https://mplus-webfonts.sourceforge.jp/mplus-2m-bold.woff') format('woff'),
       url('https://mplus-webfonts.sourceforge.jp/mplus-2m-bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');


