@font-face{
  font-family: 'mplus-2m-bold';
  src: url('https://timetracker.hse.ru/app/assets/stylesheet/fonts/mplus-2m-bold.eot');
  src: url('https://timetracker.hse.ru/app/assets/stylesheet/fonts/mplus-2m-bold.eot%3F') format('embedded-opentype'),
       url('https://timetracker.hse.ru/app/assets/stylesheet/fonts/mplus-2m-bold.woff') format('woff'),
       url('https://timetracker.hse.ru/app/assets/stylesheet/fonts/mplus-2m-bold.ttf') format('truetype');
}

