$cp-black: #000000;
$cp-white: #FFFFFF;

// Grey Colors
$cp-grey-01: #141414;
$cp-grey-02: #242424;
$cp-grey-03: #333333;
$cp-grey-04: #505050;
$cp-grey-05: #6E6E6E;
$cp-grey-06: #8A8A8A;
$cp-grey-07: #A2A2A2;
$cp-grey-08: #B8B8B8;
$cp-grey-09: #D0D0D0;
$cp-grey-10: #E8E8E8;
$cp-grey-11: #F5F5F5;

// Red Colors
$cp-red-01: #B00000;
$cp-red-02: #C51D00;
$cp-red-03: #D13317;
$cp-red-04: #E2482D;
$cp-red-05: #F25B41;
$cp-red-06: #FF6B51;
$cp-red-07: #FF806A;
$cp-red-08: #FF927E;
$cp-red-09: #FFAA9B;
$cp-red-10: #FFCDC5;
$cp-red-11: #FFE4DF;

// Yellow Colors
$cp-yellow-01: #B95901;
$cp-yellow-02: #CF7301;
$cp-yellow-03: #E58D01;
$cp-yellow-04: #F1A407;
$cp-yellow-05: #FBB80D;
$cp-yellow-06: #FFCC3F;
$cp-yellow-07: #FFD75E;
$cp-yellow-08: #FFDF79;
$cp-yellow-09: #FFE893;
$cp-yellow-10: #FFF1AF;
$cp-yellow-11: #FFFACA;

// Green Colors
$cp-green-01: #006F39;
$cp-green-02: #208A3F;
$cp-green-03: #3AA546;
$cp-green-04: #55BE4C;
$cp-green-05: #6BD14F;
$cp-green-06: #7EDC52;
$cp-green-07: #90E465;
$cp-green-08: #9EEA74;
$cp-green-09: #AFF186;
$cp-green-10: #BFF898;
$cp-green-11: #CFFFA9;

// Cyan Colors
$cp-cyan-01: #015C79;
$cp-cyan-02: #077C98;
$cp-cyan-03: #0E9BB4;
$cp-cyan-04: #1CB3C8;
$cp-cyan-05: #2DC3D2;
$cp-cyan-06: #3DD2DC;
$cp-cyan-07: #58DBE4;
$cp-cyan-08: #72E3EB;
$cp-cyan-09: #8DEBF2;
$cp-cyan-10: #A6F3F8;
$cp-cyan-11: #C1FCFF;

// Blue Colors
$cp-blue-01: #012F8A;
$cp-blue-02: #093DA9;
$cp-blue-03: #134CCA;
$cp-blue-04: #235BDB;
$cp-blue-05: #386BE6;
$cp-blue-06: #4B79F0;
$cp-blue-07: #668EF3;
$cp-blue-08: #85A6F7;
$cp-blue-09: #A1BBFA;
$cp-blue-10: #BCD0FD;
$cp-blue-11: #D6E4FF;

// Magenta Colors
$cp-magenta-01: #74017E;
$cp-magenta-02: #8B158E;
$cp-magenta-03: #A22C9E;
$cp-magenta-04: #B740AD;
$cp-magenta-05: #C857B9;
$cp-magenta-06: #D66AC4;
$cp-magenta-07: #DF85D0;
$cp-magenta-08: #E79CDA;
$cp-magenta-09: #EFB4E5;
$cp-magenta-10: #F7CDF0;
$cp-magenta-11: #FFE5FB;
