@import 'variables.scss';

@mixin color-scheme (
    $var-text-base,
    $var-text-strong,
    $var-text-link,  
    $var-text-link-hover,
    $var-accent,
    $var-layout-bg,
    $var-layout-border,
    $var-card-bg,
    $var-card-ative-bg,
    $var-card-text-active
  ) {
    color: $var-text-base;
    background: $var-layout-bg;

    transition: 
        color $global-transition-time ease,
        background-color $global-transition-time ease;

    body {
      color: $var-text-base;
      background: $var-layout-bg;
    }
    a {
      color: $var-text-link;
      transition: color $global-transition-time ease;
      p {
        color: $var-text-base;
      }
    }
    
    a:hover {
      color: $var-text-link-hover;
      transition: color $global-transition-time ease;
    }

    .card,
    .footer, 
    .header {
      border-color: $var-layout-border;
    }

    .card {
      background-color: $var-card-bg;
      transition: 
        border-color $global-transition-time ease,
        background-color $global-transition-time ease,
        -webkit-box-shadow $global-transition-time ease,
        box-shadow $global-transition-time ease;
    }

    .card:hover {
      border-color: $var-card-text-active;
      background-color: $var-card-ative-bg;
      transition: 
        border-color $global-transition-time ease,
        background-color $global-transition-time ease,
        -webkit-box-shadow $global-transition-time ease,
        box-shadow $global-transition-time ease;
      -webkit-box-shadow: 0px 5px 28px -3px rgba(33,33,38,0.2); 
      box-shadow: 0px 5px 28px -3px rgba(33,33,38,0.2);
    }

    .card:hover .card-text {color: $var-text-base;}

    .logo {
      a:hover {
        color: inherit;
      }
    }

    ul {
      li:before {
        color: $var-accent;
      }
    }
    
    h1, h2, h3, h4, h5, h6, strong, b, a {
    color: $var-text-strong;
    }

    aside {
      border-color: $var-layout-border;
      background-color: $var-card-bg;
      transition: 
        border-color $global-transition-time ease,
        background-color $global-transition-time ease;
    }

    blockquote {
      border-color: $var-accent;
      transition: 
        border-color $global-transition-time ease;
    }
}


html,
body {
    color: $color-text-base;
    background-color: $color-layout-bg;
    transition: 
      color $global-transition-time ease,
      background-color $global-transition-time ease;
}

html, html.light-mode {
  color-scheme: light;
  @include color-scheme (
    $color-text-base, 
    $color-text-strong,
    $color-text-link,
    $color-text-link-hover,
    $color-accent,
    $color-layout-bg,
    $color-layout-border,
    $color-card-bg,
    $color-card-ative-bg,
    $color-card-text-active
  );
}


@if $dark-mode-switch {
  html.dark-mode {
    color-scheme: dark;
    @include color-scheme (
      $color-darkmode-text-base,
      $color-darkmode-text-strong,
      $color-darkmode-text-link,
      $color-darkmode-text-link-hover,
      $color-darkmode-accent,
      $color-darkmode-layout-bg,
      $color-darkmode-layout-border,
      $color-darkmode-card-bg,
      $color-darkmode-card-ative-bg,
      $color-darkmode-card-text-active
    );
  }
}


@if $dark-mode-auto {
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
      @include color-scheme (
        $color-darkmode-text-base,
        $color-darkmode-text-strong,
        $color-darkmode-text-link,
        $color-darkmode-text-link-hover,
        $color-darkmode-accent,
        $color-darkmode-layout-bg,
        $color-darkmode-layout-border,
        $color-darkmode-card-bg,
        $color-darkmode-card-ative-bg,
        $color-darkmode-card-text-active
      );
    }
  }
}