$cp-black: #000000;
$cp-white: #FFFFFF;

$cp-grey-01: #141414;
$cp-grey-02: #242424;
$cp-grey-03: #333333;
$cp-grey-04: #505050;
$cp-grey-05: #6E6E6E;
$cp-grey-06: #8A8A8A;
$cp-grey-07: #A2A2A2;
$cp-grey-08: #B8B8B8;
$cp-grey-09: #D0D0D0;
$cp-grey-10: #E8E8E8;
$cp-grey-11: #F7F7F7;


$cp-red-01: #B00000;
$cp-red-02: #C51D00;
$cp-red-03: #D13317;
$cp-red-04: #E2482D;
$cp-red-05: #F25B41;
$cp-red-06: #FF6B51;
$cp-red-07: #FF806A;
$cp-red-08: #FF927E;
$cp-red-09: #FFAA9B;
$cp-red-10: #FFCDC5;
$cp-red-11: #FFE4DF;


$cp-yellow-01: #B95901;
$cp-yellow-02: #CF7301;
$cp-yellow-03: #E58D01;
$cp-yellow-04: #F1A407;
$cp-yellow-05: #FBB80D;
$cp-yellow-06: #FFCC3F;
$cp-yellow-07: #FFD75E;
$cp-yellow-08: #FFDF79;
$cp-yellow-09: #FFE893;
$cp-yellow-10: #FFF1AF;
$cp-yellow-11: #FFFACA;


$green-01: #006F39;
$green-02: #208A3F;
$green-03: #3AA546;
$green-04: #55BE4C;
$green-05: #6BD14F;
$green-06: #7EDC52;
$green-07: #90E465;
$green-08: #9EEA74;
$green-09: #AFF186;
$green-10: #BFF898;
$green-11: #CFFFA9;

$cyan-01: #015C79;
$cyan-02: #077C98;
$cyan-03: #0E9BB4;
$cyan-04: #1CB3C8;
$cyan-05: #2DC3D2;
$cyan-06: #3DD2DC;
$cyan-07: #58DBE4;
$cyan-08: #72E3EB;
$cyan-09: #8DEBF2;
$cyan-10: #A6F3F8;
$cyan-11: #C1FCFF;


$blue-01: #012F8A;
$blue-02: #093DA9;
$blue-03: #134CCA;
$blue-04: #235BDB;
$blue-05: #386BE6;
$blue-06: #4B79F0;
$blue-07: #668EF3;
$blue-08: #85A6F7;
$blue-09: #A1BBFA;
$blue-10: #BCD0FD;
$blue-11: #D6E4FF;

$magenta-01: #74017E;
$magenta-02: #8B158E;
$magenta-03: #A22C9E;
$magenta-04: #B740AD;
$magenta-05: #C857B9;
$magenta-06: #D66AC4;
$magenta-07: #DF85D0;
$magenta-08: #E79CDA;
$magenta-09: #EFB4E5;
$magenta-10: #F7CDF0;
$magenta-11: #FFE5FB;
