@import 'settings.scss';

// This is for canvas layer to be visible
html, body {
  position: sticky;  
  z-index: -2;
}

canvas {
  width: 20rem;
  height: 10rem;
}

canvas.background-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

html, body, div#__next{
  height:100%;
}

html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%; 
}

.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  min-height: -webkit-fill-available !important;
  max-height: -moz-available;
}

.main {
  min-width: 100vw;
  padding: 1rem $content-padding;
  flex: 1 0 auto;
}

.main-content, .header-content, .footer-content {
  max-width: $content-max-width;
  margin: auto;
}

.homepage .main-content {
  padding-top: 10vh;
}
.homepage .grid {
  margin-top: 10vh;
}


.row {
  display: flex;
  align-items: center;
  .col {
    flex: auto;
  }
  .col + .align-right {
    text-align: right;
  }
}

.react-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/******* Header & Footer content *******/

.logo {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 800;
  font-size: 1.5rem;
  .first-letter {color: $color-accent}
} 

.header {
  min-width: 100vw;
  padding: 1rem 0rem;
  //border-bottom: 1px solid;
  justify-content: center;
  align-items: center;
  .main {
    padding-right: calc($content-padding - 0.3rem);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer {
  min-width: 100vw;
  padding: 1rem 0rem;
  border-top: 1px solid;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  .main {
    padding-top: 0;
    padding-bottom: 0;
  }
}

footer, header {
  font-size: 0.9rem;
  line-height: 1.3em;
  .name-block {
    font-size: 0.75rem;
    line-height: 1.3em;
    p {
      margin: 0;
      padding: 0;
    }
    .name {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
  }
  .menu-icon {
    margin-top: 0.15rem;
    margin-left: 1rem;
    max-width: 1.5rem;
  }
  .top-menu {
    max-width:fit-content;
  }
  .menu-item {
    float: left;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.04em;

  }
  .row {
    min-height: 2rem;
  }
  a {
    text-decoration: none;
  }
}


header, footer {
  .react-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .mail-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .dribbble-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .behance-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-left:-0.3rem;
    margin-top:0.05rem;
  }
  .twitter-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .linkedin-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .sun-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}





/************ Grid of Cards ***********/

.grid {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  max-width: $content-max-width;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}


.card {
  margin: 0.5rem;
  text-align: left;
  text-decoration: none;
  border-radius: 10px;
  max-width: $mobile-width;
  max-height: fit-content;
  width: calc(50% - 1.1rem);
  align-self: start;
}


@media (max-width: $mobile-width) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
  
}

.card .card-image {
  border-radius: 10px 10px 0px 0px;
}

.card .card-text {
  padding: 1rem 1.5rem 1.2rem 1.5rem;
}
.card .card-text h3 {
  margin: 0;
}

.card .card-text p {
  font-size: 1rem;
  line-height: 1.5;
}

a.card.nolink {
  pointer-events: none;
  cursor: pointer;
}


/************ Card Tags ***********/


.coming-soon {

    padding: 0.5rem 0.4rem 0.52rem 0.5rem;
    margin: 0 0 0.4rem -0.2em;
    vertical-align: middle;
    width: fit-content;
    max-width: fit-content;
    height: fit-content;
    max-height: fit-content;
    text-transform: uppercase;
    line-height: 0.1rem;
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #FFCC3F;
    color: $color-text-base;
    border-radius: 1rem;
    


}


.nda {

  padding: 0.5rem 0.4rem 0.52rem 0.5rem;
  margin: 0 0 0.4rem -0.2em;
  vertical-align: middle;
  width: fit-content;
  max-width: fit-content;
  height: fit-content;
  max-height: fit-content;
  text-transform: uppercase;
  line-height: 0.1rem;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #15d8ff;
  color: $color-text-base;
  border-radius: 1rem;
  


}

