@import 'settings.scss';

hr {
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
  border: 0;
  height: 1px;
  background: repeating-linear-gradient(
    to right,
    rgba(153, 153, 153, 0.5) 0rem,
    rgba(153, 153, 153, 0.5) 0.4rem,
    transparent 0.4rem,
    transparent 0.7rem
  );
  margin-left: calc(-1 * $content-padding / 2);
  margin-right: calc(-1 * $content-padding / 2);
}

.main-content {
  img, video {
    border-style: none;
    box-sizing: content-box;
    max-width: calc(100% + 2rem);
    height: auto;
    margin-left: calc(-1 * $content-padding / 2);
    margin-right: calc(-1 * $content-padding / 2);
  }
  table {
    border-collapse: collapse;
    tr {
      th, td {

        margin: 0;
        padding: 0.3rem;
        text-align: left;
        vertical-align: top;
      }
    }
  }
}

.no-bleed {
  img {
    max-width: 100%;
    height: auto;
    margin-left: unset;
    margin-right: unset;
  }
}

img.no-bleed {
    max-width: 100%;
    height: auto;
    margin-left: unset;
    margin-right: unset;
}

.img-size-10rem {
  img {
    width: 10rem;
  }
}

.round-border {
  img {
    border-radius: 0.5rem;
  }
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  &-top {
    p, ul, h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }
  &-bottom {
    p, ul, h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }
  }
}


aside {
  border: 1px solid;
  padding: 0.4rem 1.5rem 0.5rem 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
  line-height: 1.6em;
  max-width: fit-content;
  P{
    padding: 0;
    margin: 0.7rem 0;
  }
}

aside.extra-margin {
  margin-top: 1.5rem;
}

blockquote {
  border-left: 0.15rem solid;
  max-width: calc(100% + 2rem);
  margin: 0 0 0 0.8rem;
  padding-left: 1rem;
  font-family: 'Overpass', sans-serif;
  font-style: italic;
  font-size: 1.1rem;
  P{
    padding: 0;
    margin: 1rem 0;
  }
}