// Global layout vars
$mobile-width: 600px;
$content-max-width: 1000px;  
$content-padding: 2rem; // Left and right padding


// Enables dark mode switching 
$dark-mode-switch: true;

// Respect device's dark mode preferences
$dark-mode-auto: true;

$global-transition-time: 0.2s;

$color-text-base: #333;
$color-accent: #ff6b51;
$color-text-link: $color-text-base; 
$color-text-link-hover: $color-accent;
$color-layout-bg: #F7F7F7;
$color-layout-border: #dcdcdc;
$color-layout-card-backgroud: #f0f1f2;
$color-layout-card-ative-backgroud: #F7F7F7;
$color-text-card-active: $color-accent;

$color-darkmode-text-base: #e8eef0;
$color-darkmode-accent: #ff6b51;
$color-darkmode-text-link-hover: $color-darkmode-accent;
$color-darkmode-text-link: $color-darkmode-text-base;
$color-darkmode-layout-bg: #000;
$color-darkmode-layout-card-backgroud: #101317;
$color-darkmode-layout-card-ative-backgroud: #181d23;
$color-darkmode-layout-border: #303b40;
$color-darkmode-text-card-active: $color-darkmode-accent;

