// Global layout vars
$mobile-width: 600px;
$content-max-width: 1000px;  
$content-padding: 2rem; // Left and right padding


// Enables dark mode switching 
$dark-mode-switch: true;

// Respect device's dark mode preferences
$dark-mode-auto: true;

$global-transition-time: 0.2s;

$color-text-base: rgb(51, 51, 51);
$color-text-strong: rgb(51, 51, 51);
$color-accent: rgb(255, 107, 81);
$color-text-link: $color-text-base; 
$color-text-link-hover: $color-accent;
$color-layout-bg: rgb(247, 247, 247);
$color-layout-border: rgb(220, 220, 220);
$color-card-bg: rgb(240, 241, 242);
$color-card-ative-bg: rgb(247, 247, 247);
$color-card-text-active: $color-accent;

$color-darkmode-text-base: rgb(204, 204, 204);
$color-darkmode-text-strong: rgb(238, 238, 238);
$color-darkmode-accent: rgb(255, 107, 81);
$color-darkmode-text-link-hover: $color-darkmode-accent;
$color-darkmode-text-link: $color-darkmode-text-base;
$color-darkmode-layout-bg: rgb(0, 0, 0);
$color-darkmode-layout-border: rgb(48, 59, 64);
$color-darkmode-card-bg: rgb(16, 19, 23);
$color-darkmode-card-ative-bg: rgb(26, 31, 38);
$color-darkmode-card-text-active: $color-darkmode-accent;

