@import 'variables.module.scss';

html, body {
  font-family: 'Hanken Grotesk', 'Golos Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.01em;
}

b, strong {
  font-weight: 800;
}

.korean {
  font-family: 'Nanum Gothic', 'JetBrains Mono', sans-serif;
}


html, body {
  font-size: calc(0.5vw + 15px);
  line-height: 1.6em;
}


@media (min-width: $content-max-width) {
  html, body {
    font-size: 20px;
  }
}

@media (max-width: $mobile-width) {
  html, body {
    _font-size: 16px;
  }
}

p, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

ul {
  padding-left: 1.5rem;
  li {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    text-indent: -1.65rem;
    list-style-type: none;
  }
  li:before {
      content: '―';
      font-size: 1.1rem;
      padding-right: 0.6rem;
    }
  p {
    padding: 0;
    margin-top: 0.5rem;
    text-indent: 0;
  }
  li :first-child {
    display: inline;
    margin-left: -0.15rem;
  }
  li {
    ul { 
      display: block !important;
      padding-left: 1.6rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-top: 0;
      padding-bottom: 0;
      li, li :first-child {
        display: block !important;
        text-indent: -1.75rem;
        margin-left: -0.18rem;
        margin-top: 1em;
        margin-bottom: 1rem;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hanken Grotesk', 'Overpass', sans-serif;
  letter-spacing: normal;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}

h1 {
  margin-top: 2rem;
  font-size: 3.0rem;
  line-height: 1.2em;
  font-weight: 800;
}

h2 {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 1.4em;
  font-weight: 800;
}
h3 {
  font-size: 1.3rem;
  line-height: 1.5em;
  font-weight: 800;
}
h4, h5, h6 {
  font-size: 1.05rem;
  line-height: 1.5em;
}

big {
  font-size: 1.4rem;
  line-height: 1.5em;
}


@mixin darkmode-typography {
  h1 {
    font-weight: 700;
    //font-weight: 400;
    letter-spacing: 0.0045em;
  }
}

@mixin lightmode-typography {
  h1 {
    font-weight: 800;
    letter-spacing:normal;
  }
}

html.light-mode {
  @include lightmode-typography;
}

html.dark-mode {
  @include darkmode-typography;
}

@if $dark-mode-auto {
  @media (prefers-color-scheme: dark) {
    @include darkmode-typography;
  }
}